pandas
numpy
setuptools
google-cloud-storage
pyyaml
# matplotlib
# tensorflow
# tensorflow-cpu
# tensorflow==2.20
tensorflow.keras
# wordcloud
joblib
scikit-learn
comet-ml
colorama==0.4.6
# dvc
dvc-gs
flask